
table{
	border: solid 0.5px;
}
td{
	border: solid 1px;
}
tr{
	border: solid 1px;
}
th{
	width: 200px;
	border: solid 1px; 
	background-color: #FAE5D3;
}

#desc{
	width: 300px;
}

#banercoment{
	position: relative;
	left: 150px;
}